body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslateblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:768px){
  .signup {
    margin-top:65%;
    margin-left: auto;
    margin-right: auto
  }
  
  .login {
    margin-top:65%;
    margin-left: auto;
    margin-right: auto
  }

  .logo {
    width: 50%
  }

  .auth-card-login {
    margin-left: auto;
    margin-right: auto;
    margin-top:11.5%
  }

  .authlogo {
    width: 75%;
  }

  .auth-card-signup {
    margin-left: auto;
    margin-right: auto;
    margin-top:4%
  }
}

@media only screen and (min-width:769px){
  .signup{
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto
  }
  
  .login {
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto
  }
 
  .auth-card-login {
    margin-left: auto;
    margin-right: auto;
    margin-top:9%
  }

  .authlogo {
    width: 50%;
  }

  .auth-card-signup {
    margin-left: auto;
    margin-right: auto;
    margin-top:4%
  }

}

input {
  margin: .5rem 0;
}

.card {
  font-size: 18pt;
  width: 75%
}

.card-body {
  font-size: 14pt
}

.logo {
  margin-top: 4%;
  max-height: 65px;
  /* margin:auto; */
}